source https://nuget.org/api/v2
framework: net462

nuget Suave

group Build
    source https://nuget.org/api/v2

    nuget FsReveal
    nuget FAKE

group Completed
    source https://nuget.org/api/v2
    framework: net462
    generate_load_scripts: true

    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget FSharp.Configuration
